<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FtpFileTransfer</title>
    <% if (typeof nodeModules !== 'undefined' && nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (typeof require !== 'undefined') {
        window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      }
    </script>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
